@using Orchard.Utility.Extensions;

<a href="@Url.Action("Clone", "Home", new { Id = Model.ContentItem.Id, ReturnUrl = Request.ToUrlString(), Area = "BigFont.OpenDashboard" })" itemprop="UnsafeUrl">@T("Clone")</a>@T(" | ")