div.summary
{
    border:solid thin gray;
    margin-bottom:5px;
    padding:5px;
}
div.properties * 
{
    display:inline;
    font-size:12px;
    line-height:24px;
    vertical-align:top;
    font-weight:normal;
}